.chat-page{
    display: flex;
    background-color: azure;
    width: 300px;
}

.user{
    border: 2px solid;
    border-color: black;
}

.chat-content{
    border: 2px solid;
    background-color: aqua;
    padding: 2px;
}